includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5

    paths:
        - public/wp-content/plugins/umbrella-reading-time

    excludePaths:
        - vendor
        - tests