<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        cacheDirectory=".phpunit.cache"
        colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>public/wp-content/plugins/umbrella-reading-time/tests/Unit</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>